

body{
    background: rgb(27,76,140);
    background: radial-gradient(circle, rgba(27,76,140,1) 0%, rgba(0,255,113,1) 100%); 
    margin: 50px;
}


header{
    position: relative;
    text-align: center;
    color: rgb(253, 253, 253);
}

.container{

    position: relative;
    top: 150px;
    left: 50%;
}

.perfil {
   
    width: 200px;
    border-radius: 70px;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color:rgb(147, 165, 42);
 }
 


 .para{
    
    position: relative;
    text-align: center;
    top: 50px;
    left: 0%;


 }

 .para p {
    font-size: 20px;
    margin: 0px;
 }

 .cabecalho{
    font-size:20px;
    margin: 20px;
 }




.codebergcontainer{
    position: relative;
    top: 150px;
    left: 50%
}

.iconcodeberg{
    width: 150px;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
   
}


